<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".AuthorizationActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".RegistrationActivity"/>
        <activity
            android:name=".SportsmanProfileActivity"/>
        <activity
            android:name=".CalendarViewActivity"/>
        <activity
            android:name=".SelectedDayViewActivity"/>
        <activity
            android:name=".TestViewActivity"/>
        <activity
            android:name=".NoteWritingActivity"/>
        <activity
            android:name=".PsychologistProfileActivity"/>
        <activity
            android:name=".RequestsActivity"/>
        <activity
            android:name=".SelectedSportsmanProfileActivity"/>
        <activity
            android:name=".TestAssigningActivity"/>
    </application>
</manifest>